:root {
	--text-color: hsl(42, 100%, 61%);
	--text-color-l70: hsl(42, 100%, 70%);
	--text-color-blue: hsl(186, 49%, 50%);
	--text-color-blue-l20: hsl(186, 49%, 70%);

	--dark-text-color: hsl(240, 100%, 27%);
	--border-radius-cards: 4px;
	--bg-color: hsl(234, 85%, 13%);
	/* #050b3d */
	--bg-color-l25: hsl(234, 85%, 26%);
	--bg-color-l35: hsl(202, 14%, 52%);
	--bg-color-card: hsla(238, 69%, 32%, 0.78);
	/* #191d88c7 */
}


body {
	margin-top: 3rem;
	background-color: var(--bg-color);
	color: var(--text-color-l70);
	/* background-image: linear-gradient(to left, #191d88, #191e7d, #1a1f73, #1b1f68, #1c1f5d, #1c1f5d, #1c1f5d, #1c1f5d, #1b1f68, #1a1f73, #191e7d, #191d88); */

	font-family: "League Spartan", Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 0;
}

a.icon {
	color: var(--text-color-blue);
}

/* Showcase description */
h1+h2 {
	text-align: center;
	color: var(--text-color-blue);
	margin-top: 0.2rem
}

h1+h2 a {
	color: var(--text-color-blue-l20);
}

a {
	color: var(--text-color);
}

a:hover {
	filter: contrast(2);
}

main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	place-items: center;
	max-width: calc(20rem * 2 + 2rem);
	/* Width of 2 cards + gap */
	margin: 0 auto;
}

.participant {
	background-image: linear-gradient(-35deg, #444, white);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	padding: 0.4rem 1rem;
	font-size: 2rem;
	border-bottom: 1px solid #3336;
}

/* Media queries for wide and very wide resolutions using range syntax
@media (width >= 1200px) {
	.exercise-container {
		grid-template-columns: repeat(4, 1fr);
		max-width: calc(20rem * 4 + 6rem);
	}
}
@media (width >= 2400px) {
	.exercise-container {
		grid-template-columns: repeat(6, 1fr);
		max-width: calc(20rem * 6 + 8rem); 
	}
} 
*/

.exercise-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 40rem;
	background-color: var(--bg-color-card);
	border-radius: var(--border-radius-cards);
	padding: 0.8rem 0;
	border: 1px solid #6350e3d1;
	transition: box-shadow 0.5s ease-out, border 0.5s ease-out;

	box-shadow: rgb(166, 136, 78) 0px 12px 30px -10px
}

.exercise-card a {
	padding-top: 1rem;
}

.exercise-card img {
	max-width: 100%;
	height: auto;
}

.exercise-card h3 {
	padding: 0 1rem;
	margin-top: 0.8rem;
}


/* Card hover */
/* Trying something like this: https://uiverse.io/alexruix/cowardly-ape-35 */
.exercise-card:hover {
	border-color: #333;
	box-shadow: 0 3px 18px 0 var(--text-color);
}

.exercise-container {
	display: flex;
	flex-direction: row;
	text-align:center;

}
.exercise-container .exercise {
	display: flex;
	flex-direction: column;
}