:root {
	--text-color: hsl(42, 100%, 61%);
	--text-color-l70: hsla(42, 100%, 70%, 0.933);
	--dark-text-color: hsl(240, 100%, 27%);
	--border-radius-cards: 6px;
	--bg-color: hsl(202, 14%, 15%);
	--bg-color-l25: hsl(202, 14%, 25%);
	--bg-color-l35: hsl(202, 14%, 35%);
}


body {
	margin-top: 3rem;
	background-color: hsl(202, 14%, 15%);
	color: var(--text-color-l70);
	background-image: linear-gradient(to left, #191d88, #191e7d, #1a1f73, #1b1f68, #1c1f5d, #1c1f5d, #1c1f5d, #1c1f5d, #1b1f68, #1a1f73, #191e7d, #191d88);

	font-family: "League Spartan", Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

h1 {
	text-align: center;
	font-size: 2.5rem;
}

a {
	color: var(--text-color);
}

a:hover {
	color: gray;
}


.exercise-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	place-items: center;
	max-width: calc(20rem * 2 + 2rem);
	/* Width of 2 cards + gap */
	margin: 0 auto;
}

h2 {
	background-color: var(--text-color);
	color: var(--dark-text-color);
	text-shadow: #2C254659 1px 1px 1px;
	border: 1px solid var(--bg-color-l35);
	padding: 1rem 4rem;
	border-radius: var(--border-radius-cards);
	box-shadow: -2px 20px 1000px #faebd744;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1rem;

	background: #e0e0e0ee;
	box-shadow: 10px 10px 20px var(--bg-color-l35),
		-10px -10px 20px var(--bg-color-l25);
}

/* Media queries for wide and very wide resolutions using range syntax
@media (width >= 1200px) {
	.exercise-container {
		grid-template-columns: repeat(4, 1fr);
		max-width: calc(20rem * 4 + 6rem);
	}
}
@media (width >= 2400px) {
	.exercise-container {
		grid-template-columns: repeat(6, 1fr);
		max-width: calc(20rem * 6 + 8rem); 
	}
} 
*/



/* Try something like this?: https://uiverse.io/alexruix/cowardly-ape-35 */

.exercise-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 20rem;

	border-radius: var(--border-radius-cards);
	padding: 0.8rem 0;
	border: 2px solid #c3c6ce;
	transition: 0.5s ease-out;
}

.exercise-card img {
	max-width: 100%;
	height: auto;
}