html {
	font-size: 10px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./drumkit-ana.webp") bottom center;
	background-size: cover;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	flex-flow: wrap;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.key {
	border: 0.2rem solid #fb01ffd4;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.416);
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: rgb(215, 147, 181);
	box-shadow: 0 0 1rem rgb(215, 147, 181);
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #eac6ea;
}
